@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<CascadingAuthenticationState>
    @if (!Nav.Uri.Contains("/login"))
    {
        <TopNav />
    }


    <div class="content @(Nav.Uri.Contains("/login") ? "login-content" : "p-4")">
        <RedirectToLogin />
        @Body
    </div>

    @if (!Nav.Uri.Contains("/login"))
    {
        <footer class="bg-light text-center py-3">
            &copy; 2025 Госуслуги
        </footer>
    }
</CascadingAuthenticationState>

@code {
    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("checkAccordionInit");
        }
    }
}
