@inherits LayoutComponentBase
@inject IAuthService AuthService

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="logo.png" alt="Logo" style="height:40px" class="me-2" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var item in MenuItems)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@item.Url">@item.Text</NavLink>
                    </li>
                }
            </ul>
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-outline-light" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="login" class="btn btn-outline-light">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

<div class="content p-4">
    @Body
</div>

<footer class="bg-light text-center py-3">
    &copy; 2025 Госуслуги
</footer>

@code {
    List<MenuItem> MenuItems = new()
    {
        new MenuItem { Text = "Services", Url = "/services" },
        new MenuItem { Text = "Workflows", Url = "/workflows" },
        new MenuItem { Text = "Applications", Url = "/applications" },
        new MenuItem { Text = "Documents", Url = "/documents/0" },
        new MenuItem { Text = "Templates", Url = "/templates" },
        new MenuItem { Text = "Users", Url = "/users" }
    };

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
    }
}
