@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <div class="min-h-screen flex flex-col">
        @if (!Nav.Uri.Contains("/login"))
        {
            <header>
                <TopNav />
            </header>
        }

        <main class="flex-1 p-4 @(Nav.Uri.Contains("/login") ? "" : "container mx-auto")">
            <RedirectToLogin />
            @Body
        </main>

        @if (!Nav.Uri.Contains("/login"))
        {
            <footer class="bg-light text-center py-3 mt-auto">
                &copy; 2025 Госуслуги
            </footer>
        }
    </div>
</CascadingAuthenticationState>

@code {
    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("checkAccordionInit");
        }
    }
}
