@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <div class="flex flex-col min-h-screen">
        @if (!Nav.Uri.Contains("/login"))
        {
            <header>
                <TopNav />
            </header>
        }

        <main class="container mx-auto py-4 flex-grow-1" style="max-width:1920px;">
            <RedirectToLogin />
            @Body
        </main>

        @if (!Nav.Uri.Contains("/login"))
        {
            <footer class="bg-white border-t text-center py-3 mt-auto">
                &copy; 2025 Государственные услуги
            </footer>
        }
    </div>
</CascadingAuthenticationState>

@code {
    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

}
