@page "/dashboard/specialist"
@attribute [Authorize(Roles="Исполнитель")]
@inject NavigationManager Nav

<div class="container p-4">
    <h1 class="mb-4">Дашборд специалиста</h1>
    <div class="row g-4">
        @* TODO: заменить на MudBlazor карточки *@
    </div>

    <div class="row g-4 mt-4">
        @* TODO: заменить на MudBlazor графики *@
    </div>
</div>

@code {
    int applications = 24;
    int documents = 17;
    int orders = 5;
    double avgTime = 2.3;

    // TODO: заменить на MudBlazor
    // SfChart? appChart;

    List<MonthlyCount> appByMonth = new()
    {
        new MonthlyCount("Янв", 3),
        new MonthlyCount("Фев", 5),
        new MonthlyCount("Мар", 7),
        new MonthlyCount("Апр", 9)
    };

    List<StatusCount> docsByStatus = new()
    {
        new StatusCount("На подпись", 6),
        new StatusCount("Готово", 8),
        new StatusCount("Черновик", 3)
    };

    // TODO: заменить на MudBlazor обработчики кликов
    // void OnAppPointClick(PointEventArgs args)
    // {
    //     var item = appByMonth[args.Point.Index];
    //     Nav.NavigateTo($"/applications?month={item.Month}");
    // }

    // void OnDocPointClick(PointEventArgs args)
    // {
    //     var item = docsByStatus[args.Point.Index];
    //     Nav.NavigateTo($"/documents?status={item.Status}");
    // }

    record MonthlyCount(string Month, int Count);
    record StatusCount(string Status, int Count);
}
