@attribute [Authorize]
@page "/profile/change-password"
@inject IUserApiClient ApiClient
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="container p-4">
    <MudCard Class="mb-4">
        <MudCardHeader>
            <MudText Typo="Typo.h6">Смена пароля</MudText>
        </MudCardHeader>
        <MudCardContent>
            <EditForm Model="model" OnValidSubmit="Save">
                <DataAnnotationsValidator />
                <MudTextField @bind-Value="model.OldPassword" Label="Старый пароль" InputType="InputType.Password" Class="mb-3 w-100" />
                <MudTextField @bind-Value="model.NewPassword" Label="Новый пароль" InputType="InputType.Password" Class="mb-3 w-100" />
                <MudButton Type="Submit" Color="Color.Primary">Сохранить</MudButton>
            </EditForm>
        </MudCardContent>
    </MudCard>
</div>

@code {
    ChangePasswordDto model = new();
    async Task Save() { /* call ApiClient.ChangePasswordAsync */ }
}
