@attribute [Authorize]
@page "/counter"

<div class="container p-4">
    <h1>Счётчик</h1>
    <p>Текущее значение: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Увеличить</button>
</div>

@code {
    int currentCount = 0;
    void IncrementCount() => currentCount++;
}
