@attribute [Authorize]
@page "/counter"

<div class="container p-4">
    <SfCard CssClass="mb-4">
        <CardHeader>
            <h1>Счётчик</h1>
        </CardHeader>
        <CardContent>
            <p class="mb-3">Текущее значение: @currentCount</p>
            <SfButton CssClass="e-primary" OnClick="IncrementCount">Увеличить</SfButton>
        </CardContent>
    </SfCard>
</div>

@code {
    int currentCount = 0;
    void IncrementCount() => currentCount++;
}
