@attribute [Authorize]
@page "/counter"

<div class="container p-4">
    <MudCard Class="mb-4">
        <MudCardHeader>
            <MudText Typo="Typo.h5">Счётчик</MudText>
        </MudCardHeader>
        <MudCardContent>
            <p class="mb-3">Текущее значение: @currentCount</p>
            <MudButton Color="Color.Primary" OnClick="IncrementCount">Увеличить</MudButton>
        </MudCardContent>
    </MudCard>
</div>

@code {
    int currentCount = 0;
    void IncrementCount() => currentCount++;
}
