@attribute [Authorize]
@page "/dashboard"

@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <h1>Дашборд</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <MudCard Class="text-center mb-4">
                <MudCardHeader><h2>Заявки</h2></MudCardHeader>
                <MudCardContent><h1 class="display-4">123</h1></MudCardContent>
            </MudCard>
        </div>
        <div class="col-md-4 mb-3">
            <MudCard Class="text-center mb-4">
                <MudCardHeader><h2>Документы</h2></MudCardHeader>
                <MudCardContent><h1 class="display-4">45</h1></MudCardContent>
            </MudCard>
        </div>
        <div class="col-md-4 mb-3">
            <MudCard Class="text-center mb-4">
                <MudCardHeader><h2>Пользователи</h2></MudCardHeader>
                <MudCardContent><h1 class="display-4">8</h1></MudCardContent>
            </MudCard>
        </div>
    </div>
</div>
