@attribute [Authorize]
@page "/dashboard"

@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <h1>Дашборд</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm mb-4">
                <div class="card-header"><h2>Заявки</h2></div>
                <div class="card-body"><h1 class="display-4">123</h1></div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm mb-4">
                <div class="card-header"><h2>Документы</h2></div>
                <div class="card-body"><h1 class="display-4">45</h1></div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm mb-4">
                <div class="card-header"><h2>Пользователи</h2></div>
                <div class="card-body"><h1 class="display-4">8</h1></div>
            </div>
        </div>
    </div>
</div>
