@page "/dashboard"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <h1>Дашборд</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <SfCard CssClass="text-center">
                <SfCardHeader><h2>Заявки</h2></SfCardHeader>
                <SfCardContent><h1 class="display-4">123</h1></SfCardContent>
            </SfCard>
        </div>
        <div class="col-md-4 mb-3">
            <SfCard CssClass="text-center">
                <SfCardHeader><h2>Документы</h2></SfCardHeader>
                <SfCardContent><h1 class="display-4">45</h1></SfCardContent>
            </SfCard>
        </div>
        <div class="col-md-4 mb-3">
            <SfCard CssClass="text-center">
                <SfCardHeader><h2>Пользователи</h2></SfCardHeader>
                <SfCardContent><h1 class="display-4">8</h1></SfCardContent>
            </SfCard>
        </div>
    </div>
</div>
