@page "/documents/{applicationId:int}"
@inject IDocumentApiClient ApiClient
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="container p-4">
    <h1>Документы</h1>
    <SfGrid TItem="DocumentDto" DataSource="@docs" AllowPaging="true" Width="100%">
        <GridPageSettings PageSize="10" />
        <GridColumns>
            <GridColumn Field=@nameof(DocumentDto.Id) HeaderText="ID" Width="70" TextAlign="TextAlign.Center" IsPrimaryKey="true" />
            <GridColumn Field=@nameof(DocumentDto.FileName) HeaderText="Файл" Width="*" />
            <GridColumn Field=@nameof(DocumentDto.UploadedAt) HeaderText="Загружен" Format="d" Width="120" />
        </GridColumns>
    </SfGrid>
</div>

@code {
    [Parameter] public int applicationId { get; set; }
    List<DocumentDto> docs = new();

    protected override async Task OnParametersSetAsync()
    {
        docs = await ApiClient.GetByApplicationIdAsync(applicationId);
    }
}
