@attribute [Authorize]
@page "/geoobjects"
@inject IGeoApiClient ApiClient
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="container p-4">
    <h1>Геообъекты</h1>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <div id="map" style="height:400px"></div>
        </div>
    </div>
</div>

@code {
    List<GeoObjectDto> objects = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objects = await ApiClient.GetAllAsync();
            await Js.InvokeVoidAsync("initializeMap");
            await Js.InvokeVoidAsync("addGeoObjects", objects);
        }
    }
}
