@attribute [Authorize]
@page "/geoobjects"
@inject IGeoApiClient ApiClient
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<RedirectToLogin />

<MudContainer Class="mt-4">
    <MudText Typo="Typo.h5">Геообъекты</MudText>
    @* TODO: заменить на MudBlazor *@
    <div id="map" style="height:400px"></div>
</MudContainer>

@code {
    List<GeoObjectDto> objects = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                objects = await ApiClient.GetAllAsync();
                await Js.InvokeVoidAsync("initializeMap");
                await Js.InvokeVoidAsync("addGeoObjects", objects);
            }
            catch (Exception ex)
            {
                Snackbar.Add("Ошибка загрузки: " + ex.Message, Severity.Error);
            }
        }
    }
}
