@attribute [Authorize]
@page "/"

<div class="container mx-auto flex items-center justify-center mt-32">
    <SfCard CssClass="e-bootstrap5 shadow-lg rounded-xl p-6 text-center" Style="width: 100%; max-width: 600px;">
        <CardHeader>
            <h1 class="text-3xl font-semibold text-gray-800">Добро пожаловать</h1>
        </CardHeader>
        <CardContent>
            <p class="text-lg text-gray-600">Выберите раздел из меню.</p>
        </CardContent>
    </SfCard>
</div>
