@attribute [Authorize]
@page "/"

<div class="container p-4 text-center">
    <SfCard>
        <SfCardHeader><h1>Добро пожаловать</h1></SfCardHeader>
        <SfCardContent>Выберите раздел из меню.</SfCardContent>
    </SfCard>
</div>
