@page "/login"
@inject AuthService AuthService
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations

<div class="container d-flex justify-content-center align-items-center" style="height:80vh;">
    <SfCard CssClass="e-bootstrap5" Style="width:400px;">
        <CardHeader>
            <h2 class="text-center">Вход в систему</h2>
        </CardHeader>
        <CardContent>
            <EditForm Model="@model" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <SfTextBox CssClass="mb-3" @bind-Value="model.Email" Placeholder="Email" />
                <SfTextBox CssClass="mb-4" @bind-Value="model.Password" Type="InputType.Password" Placeholder="Пароль" />
                <SfButton CssClass="e-primary w-100" Type="Submit">Войти</SfButton>
            </EditForm>
        </CardContent>
    </SfCard>
</div>

@code {
    LoginRequestDto model = new();
    async Task HandleLogin()
    {
        await AuthService.LoginAsync(model);
        NavigationManager.NavigateTo("/");
    }
}
