@page "/orders"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <h1>Приказы</h1>
    <SfButton CssClass="e-primary mb-3" IconCss="e-icons e-add" OnClick="()=>edit.Show(new OrderDto())">Добавить приказ</SfButton>
    <SfGrid DataSource="@orders" Width="100%">
        <GridColumns>
            <GridColumn Field=@nameof(OrderDto.Id) HeaderText="ID" Width="70" TextAlign="TextAlign.Center" IsPrimaryKey="true" />
            <GridColumn Field=@nameof(OrderDto.Number) HeaderText="Номер" Width="120" />
            <GridColumn Field=@nameof(OrderDto.Date) HeaderText="Дата" Format="d" Width="120" />
            <GridColumn HeaderText="Действия" TextAlign="TextAlign.Center" Width="120">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="e-icons e-edit" OnClick="@(args=>edit.Load((context as OrderDto).Id))" />
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
    <OrderEdit @ref="edit" OnSaved="Reload" />
</div>

@code {
    List<OrderDto> orders = new();
    OrderEdit edit;

    Task Reload() { StateHasChanged(); return Task.CompletedTask; }
}
