@attribute [Authorize]
@page "/outgoing/{applicationId:int}"
@inject IOutgoingApiClient ApiClient
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="container p-4">
    <SfCard CssClass="mb-4">
        <CardHeader>
            <h1>Исходящие документы</h1>
        </CardHeader>
        <CardContent>
            <SfGrid TItem="OutgoingDocumentDto" DataSource="@items" AllowPaging="true" Width="100%" CssClass="e-bootstrap5">
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field=@nameof(OutgoingDocumentDto.Id) HeaderText="ID" Width="70" TextAlign="TextAlign.Center" IsPrimaryKey="true" />
                <GridColumn Field=@nameof(OutgoingDocumentDto.FileName) HeaderText="Файл" Width="*" />
                <GridColumn Field=@nameof(OutgoingDocumentDto.Date) HeaderText="Дата" Format="d" Width="120" />
            </GridColumns>
            </SfGrid>
        </CardContent>
    </SfCard>
</div>

@code {
    [Parameter] public int applicationId { get; set; }
    List<OutgoingDocumentDto> items = new();

    protected override async Task OnParametersSetAsync()
    {
        items = await ApiClient.GetByApplicationIdAsync(applicationId);
    }
}
