@attribute [Authorize]
@page "/outgoing/{applicationId:int}"
@inject IOutgoingApiClient ApiClient
@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="container p-4">
    @* TODO: заменить на MudBlazor *@
    <div></div>
</div>

@code {
    [Parameter] public int applicationId { get; set; }
    List<OutgoingDocumentDto> items = new();

    protected override async Task OnParametersSetAsync()
    {
        items = await ApiClient.GetByApplicationIdAsync(applicationId);
    }
}
