@page "/permission-groups"
@attribute [Authorize(Roles="Администратор")]
@inject IPermissionGroupApiClient Api
@using Client.Wasm.DTOs
@using Microsoft.AspNetCore.Authorization

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<PermissionGroupDto> groups = new();
    protected override async Task OnInitializedAsync()
    {
        groups = await Api.GetAllAsync();
    }
}
