@attribute [Authorize]
@page "/profile"

@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <SfCard CssClass="mb-4">
        <CardHeader>
            <h1>Профиль</h1>
        </CardHeader>
        <CardContent>
            <EditForm Model="model">
                <DataAnnotationsValidator />
                <SfTextBox TValue="string" @bind-Value="model.FullName" Placeholder="ФИО" CssClass="mb-3 w-100" />
                <SfTextBox TValue="string" @bind-Value="model.Email" Placeholder="Email" CssClass="mb-3 w-100" />
                <SfButton Type="Submit" CssClass="e-primary">Сохранить</SfButton>
            </EditForm>
        </CardContent>
    </SfCard>
</div>

@code {
    ProfileModel model = new();
    class ProfileModel { public string FullName { get; set; } public string Email { get; set; } }
}
