@attribute [Authorize]
@page "/profile"

@using Client.Wasm.DTOs
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
<div class="container p-4">
    <h1>Профиль</h1>
    <EditForm Model="model">
        <InputText class="form-control mb-3" @bind-Value="model.FullName" placeholder="ФИО" />
        <InputText class="form-control mb-3" @bind-Value="model.Email" placeholder="Email" />
        <button class="btn btn-primary">Сохранить</button>
    </EditForm>
</div>

@code {
    ProfileModel model = new();
    class ProfileModel { public string FullName { get; set; } public string Email { get; set; } }
}
