@page "/registry/agreements"
@attribute [Authorize]

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<AgreementRow> agreements = new();

    protected override void OnInitialized()
    {
        agreements = new() { new AgreementRow { Id = 1, Name = "Соглашение №1" } };
    }

    class AgreementRow
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
