@page "/registry/rdz-orders"
@attribute [Authorize]

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<OrderRow> orders = new();

    protected override void OnInitialized()
    {
        orders = new() { new OrderRow { Id = 1, Number = "01-РДЗ" } };
    }

    class OrderRow
    {
        public int Id { get; set; }
        public string Number { get; set; } = string.Empty;
    }
}
