@page "/registry/answers"
@attribute [Authorize]

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<AnswerRow> answers = new();

    protected override void OnInitialized()
    {
        answers = new() { new AnswerRow { Id = 1, Subject = "Ответ по заявлению" } };
    }

    class AnswerRow
    {
        public int Id { get; set; }
        public string Subject { get; set; } = string.Empty;
    }
}
