@page "/registry/applications"
@attribute [Authorize]

<SfCard CssClass="glass-effect rounded-xl shadow-lg p-6 mb-4">
    <CardHeader>
        <h1>Актуальные заявления</h1>
    </CardHeader>
    <CardContent>
        <SfGrid DataSource="@applications" AllowPaging="true" AllowSorting="true" AllowExcelExport="true" AllowPdfExport="true" Toolbar="@toolbar" CssClass="e-bootstrap5">
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field=@nameof(ApplicationRow.Id) HeaderText="ID" Width="80" TextAlign="TextAlign.Center" IsPrimaryKey="true" />
                <GridColumn Field=@nameof(ApplicationRow.Name) HeaderText="Название" Width="200" />
            </GridColumns>
        </SfGrid>
    </CardContent>
</SfCard>

@code {
    List<ApplicationRow> applications = new();
    string[] toolbar = new[] { "Search", "ExcelExport", "PdfExport" };

    protected override void OnInitialized()
    {
        applications = new()
        {
            new ApplicationRow { Id = 1, Name = "Пример" }
        };
    }

    class ApplicationRow
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
