@page "/registry/acts"
@attribute [Authorize]

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<ActRow> acts = new();

    protected override void OnInitialized()
    {
        acts = new() { new ActRow { Id = 1, Name = "Акт №1" } };
    }

    class ActRow
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
