@attribute [Authorize(Roles="Administrator")]
@page "/service-templates"
@inject IServiceTemplateApiClient ApiClient
@inject IServiceApiClient ServiceApiClient
@inject IJSRuntime Js
@using Client.Wasm.DTOs

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    List<ServiceTemplateDto> templates = new();
    ServiceTemplateEdit? editor;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        templates = await ApiClient.GetAllAsync();
    }

    void NewTemplate() => editor?.Show(0);

    void EditTemplate(int id) => editor?.Load(id);

    void ConfigureTemplate(int id) => editor?.Load(id);

    async Task DeleteTemplate(int id)
    {
        if (await Js.InvokeAsync<bool>("confirm", $"Удалить шаблон {id}?"))
        {
            await ApiClient.DeleteAsync(id);
            await LoadData();
        }
    }
}
