@attribute [Authorize]
@using Client.Wasm.DTOs
@inject ITemplateApiClient ApiClient

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    // TODO: заменить на MudBlazor
    TemplateModel model = new();
    int templateId;

    public void Show(int id)
    {
        templateId = id;
        model = new TemplateModel { Date = DateTime.Today };
        // TODO: заменить на MudBlazor
        // _ = dlg.ShowAsync();
    }

    async Task Generate()
    {
        var bytes = await ApiClient.GeneratePdfAsync(templateId, model);
        // здесь могла бы быть логика скачивания файла
        // TODO: заменить на MudBlazor
        // _ = dlg.HideAsync();
    }
}
