@attribute [Authorize]
@page "/weather"
@inject HttpClient Http

<div class="container p-4">
    <h1>Погода</h1>
    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <SfGrid DataSource="forecasts" Width="100%" CssClass="e-bootstrap5">
            <GridColumns>
                <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Дата" Format="d" Width="120" />
                <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="C" Width="100" />
                <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="F" Width="100" />
                <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Описание" Width="*" />
            </GridColumns>
        </SfGrid>
    }
</div>

@code {
    WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
