@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <CustomErrorBoundary>
        <ErrorContent>
            <SfCard CssClass="m-4">
                <CardContent>
                    <p class="text-red-600">Произошла непредвиденная ошибка.</p>
                </CardContent>
            </SfCard>
        </ErrorContent>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!NavigationManager.Uri.Contains("/login"))
                        {
                            NavigationManager.NavigateTo("/login", forceLoad: true);
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <RedirectToLogin />
            </NotFound>
        </Router>
    </CustomErrorBoundary>
</CascadingAuthenticationState>

<ErrorDialog />
