@inject IJSRuntime JS

@* TODO: заменить на MudBlazor *@
<div></div>

@code {
    // TODO: заменить на MudBlazor
    string content = string.Empty;

    public async Task Show(string sfdt)
    {
        content = sfdt;
        // TODO: заменить на MudBlazor
        // await container.DocumentEditor.OpenAsync(content);
        // await dialog.ShowAsync();
    }

    async Task DownloadWord()
    {
        // TODO: заменить на MudBlazor
        // var data = await container.DocumentEditor.SaveAsBlobAsync(FormatType.Docx);
        // await JS.InvokeVoidAsync("saveAsFile", "document.docx", data);
    }

    // TODO: заменить на MudBlazor
    // void Close() => dialog.HideAsync();
}
