@using Client.Wasm.DTOs
@inject Services.IIntegrationApiClient Api

@if (ApplicationId != 0)
{
    @* TODO: заменить на MudBlazor *@
    <div></div>
}

@code {
    [Parameter] public int ApplicationId { get; set; }
    List<RosreestrRequestDto> rosreestr = new();
    List<ZagsRequestDto> zags = new();

    protected override async Task OnParametersSetAsync()
    {
        if (ApplicationId != 0)
        {
            // Здесь предполагаются методы получения списков, для примера пустые
        }
    }

    async Task CreateRosreestr()
    {
        await Api.SendRosreestrRequestAsync(ApplicationId);
    }

    async Task CreateZags()
    {
        var dto = new CreateZagsRequestDto { ApplicationId = ApplicationId };
        await Api.SendZagsRequestAsync(dto);
    }
}
