@inject Services.IApplicationApiClient Api
@inject NavigationManager Nav

@if (appId != 0)
{
    @* TODO: заменить на MudBlazor *@
    <div></div>
}

@code {
    [Parameter] public int appId { get; set; }

    List<ApplicationDto> byApplicant = new();
    List<ApplicationDto> byRepresentative = new();
    List<ApplicationDto> byGeo = new();

    protected override async Task OnParametersSetAsync()
    {
        if (appId != 0)
        {
            byApplicant = await Api.GetRelatedByApplicantAsync(appId);
            byRepresentative = await Api.GetRelatedByRepresentativeAsync(appId);
            byGeo = await Api.GetRelatedByGeoAsync(appId);
        }
    }

    // TODO: заменить на MudBlazor обработчик выбора строки
    // void OnRowSelected(RowSelectEventArgs<ApplicationDto> args)
    // {
    //     Nav.NavigateTo($"/applications/details/{args.Data.Id}");
    // }
}
