@using Client.Wasm.DTOs

@* TODO: заменить на MudBlazor
<div></div>
*@

@code {
    // TODO: заменить на MudBlazor
    // private SfDialog dlg;
    private CreateApplicationRevisionDto model = new();
    private string[] reasons = new[] { "Жалоба", "Протест прокуратуры", "Решение суда" };

    public async Task Show(int applicationId)
    {
        model = new CreateApplicationRevisionDto { ApplicationId = applicationId };
        // TODO: заменить на MudBlazor
        // await dlg.ShowAsync();
    }

    [Parameter] public EventCallback<CreateApplicationRevisionDto> OnSubmit { get; set; }

    private async Task HandleSubmit()
    {
        if (OnSubmit.HasDelegate)
            await OnSubmit.InvokeAsync(model);
        // TODO: заменить на MudBlazor
        // await dlg.HideAsync();
    }
}
