<SfAccordion @ref="accordion" CssClass="sidebar-menu rounded-xl shadow-lg bg-white" ExpandMode="ExpandMode.Single" Created="OnAccordionCreated">
    <AccordionItems>
        @foreach (var group in Menu.Groups)
        {
            <AccordionItem Header=@group.Title>
                <ContentTemplate>
                    <ul class="list-unstyled p-2">
                        @foreach (var item in group.Items)
                        {
                            <li class="mb-1">
                                <NavLink class="nav-link" href="@item.Url">
                                    @item.Title
                                </NavLink>
                            </li>
                        }
                    </ul>
                </ContentTemplate>
            </AccordionItem>
        }
    </AccordionItems>
</SfAccordion>

@code {
    [Inject]
    public MenuService Menu { get; set; } = default!;
    [Inject]
    public IJSRuntime JS { get; set; } = default!;

    private SfAccordion? accordion;

    private async Task OnAccordionCreated()
    {
        await JS.InvokeVoidAsync("checkAccordionInit");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("checkAccordionInit");
        }
    }
}
